# HTID:11587784: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1

<ifModule mod_headers.c>

<filesMatch ".(css|png|ico|js|png|webp|fonts|img|images|archivos)$">
Header set Cache-Control "max-age=2592000, public, must-revalidate"
</filesMatch>

</ifModule>

<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 week"
</ifModule>


# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11587784: