@font-face {
    font-family: "Graphik-Regular";
    src: url("graphik.ttf");
}

body {
    background-color: #8a05be;
    font-family: "Graphik-Regular";
    color: white;
    text-align: center;
}

div#container {
    margin: 0 auto;
}

h3 {
    color: #6b6b6b;
}

img#logo {
    width: 200px;
}

section#s1 {
    background-color: white;
    width: 370px;
    margin: 0 auto;
    color: #8a05be;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

#btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

#btn {
    margin-top: 20px;
    color: #fff;
    background-color: #8a05be;
    border-color: #620088;
    border: 1px solid transparent;
    padding: 13px 25px 13px 25px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#btn:hover {
    outline: none;
    background-color: #600086;
    border-color: #600086;
}

#btn:focus,
#btn:focus {
    outline: none;
}

.form__input {
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    max-width: 242px;
    height: 44px;
    outline: none;
    padding: 0 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #e6e6e6;
    transition: background 1s, border-color 1s, color 1s;
}

.form__input:focus {
    background: #ffffff;
}

.form__input::placeholder {
    color: #c7c7c7;
}

.form__input--error {
    color: #d50000;
    background: #fff8f8;
    border-color: #d50000;
}

.form__input--error::placeholder {
    color: #ff9292;
}